/* @styled-jsx=global */

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

:root {
    --color-primary: "#662D91";
    --color-primary-dark: "#2D054B";

    --color-gray-dark-1: "#565656";
    --color-gray-dark-2: "#333333";
    --color-gray-light-1: "#FAFAFA";
    --color-gray-light-2: "#F4F4F4";

    --color-white: "#FFFFFF";
    --color-black: "#000000";
}
