/* @styled-jsx=global */

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
}

:root {
    --color-primary: #662D91;
    --color-primary-dark: #2D054B;

    --color-gray-dark-1: #565656;
    --color-gray-dark-2: #333333;
    --color-gray-light-1: #FAFAFA;
    --color-gray-light-2: #F4F4F4;

    --color-white: #FFFFFF;
    --color-black: #000000;
}

h1 {
    font-size: 48px;
    color: var(--color-primary);
    line-height: 120%;
    font-weight: 400;
}

p {
    font-size: 18px;
    color: var(--color-gray-dark-1);
    line-height: 150%;
    font-weight: 400;
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 38px;
    }

    p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 32px;
    }
}
