main {
    padding: 50px 100px;
}

main header {
    margin-bottom: 20px;
}

.signs-container {
    margin-top: 50px;
    position: relative;
    min-height: 40vh;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    justify-items: center;
    row-gap: 50px;
    column-gap: 4%;
}

.sign-container {
    width: 100%;
    max-width: 400px;
    padding: 50px 35px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.269);
    border-radius: 5px;
    background-color: var(--color-gray-light-1);
    border: 3px var(--color-gray-light-2) solid;
}

.sign-container img {
    width: 150px;
    margin: 0 auto 10px auto;
    display: block;
}

.sign-container .sign-name {
    text-align: center;
}

.sign-container .stock-status {
    font-size: 18px;
    text-align: center;
}

.sign-container .button-container {
    margin-top: 30px;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1000px) {
    main {
        padding: 50px 50px;
    }
}

@media only screen and (max-width: 500px) {
    .signs-container {
        grid-template-columns: 100%;
    }

    .sign-container img {
        width: 125px;
    }
}
